/* BASE */
:root {
    background: rgb(236, 236, 236);
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

/* GRID LAYOUT */
.image-wrapper     {grid-area: i}
.title-wrapper     {grid-area: t}
.nutrition-wrapper {grid-area: n}
.prices-wrapper    {grid-area: p}

.container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 1rem;
    grid-template-areas:
        'i i t'
        'i i n'
        'p p p'
}

/* IMAGE */
.image-wrapper {
    height: 200px;
    width: 200px;
    
    background: white;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.image {
    height: 100%;
    width: 100%;
}

/* TITLE */
.title {
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

/* FLEXBOX TABLE */
.table {
    display: flex;
    flex-wrap: wrap;
}

.table-thead,
.table-row {
    display: flex;
    padding: 0.5rem;
}

.flex--1col > * {flex: 1 0 100%}
.flex--2col > * {flex: 1 0 50%}
.flex--4col > * {flex: 1 0 25%}

/* NUTRITION TABLE */
.nutrition > .table-thead {
    text-align: center;
}

.nutrition .col2 {
    text-align: right;
}

/* SMALL */
@media all and (max-width: 425px) {
    /* GRID LAYOUT */
    .container {
        grid-template-columns: auto 1fr;
        grid-column-gap: 0.5rem;
        grid-template-areas:
            'i t'
            'n n'
            'p p';
    }
}