:root {
    font-family: 'Nunito Sans', sans-serif;
    color: #444444;
}

* {
    box-sizing: border-box;
}

body {
    max-width: 1500px;
    margin: auto;
    background: rgb(236, 236, 236)
}


/* RESULTS */
.results-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));  /* min = image-width + padding x 2 */
    grid-gap: 2rem;

    list-style-type: none;
    padding-inline-start: 0;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid slategray;
    background: white;
    padding: 10px;
    height: 100%;
}

.result > img {
    width: 150px;
    height: 150px;
}

.result > span {
    text-align: center;
}

/* PAGINATION */
.pagination-wrapper * {
    text-align: center;
    line-height: 2rem;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
}

.pagination-wrapper > div {
    flex: 0 0;
}

.page-text {
    white-space: nowrap;
    border: 1px solid slategray;
    color: #444444;
    padding: 0 0.5rem 0 0.5rem;
}

.page-btn > a {
    display: block;
    min-width: 30px;
    border: 1px solid slategray;
    background: #0074D9;

    color: white;
    text-decoration: none;
}

.btn-prev a {
    border-radius: 0.7rem 0 0 0.7rem;
    margin-right: -1px;
}

.btn-next a {
    border-radius: 0 0.7rem 0.7rem 0;
    margin-left: -1px;
}