/* BASE */
:root {
    background: rgb(236, 236, 236);
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

/* GRID LAYOUT */
.image-wrapper     {grid-area: i}
.title-wrapper     {grid-area: t}
.nutrition-wrapper {grid-area: n}
.prices-wrapper    {grid-area: p}

.container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 1rem;
    grid-template-areas:
        'i i t'
        'i i n'
        'p p p';
    align-items: center; 
}

/* IMAGE */
.image-wrapper {
    height: 200px;
    width: 200px;
    
    background: white;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.image {
    height: 100%;
    width: 100%;
}

/* TITLE */
.title {
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

/* FLEXBOX TABLE */
.table {
    display: flex;
    flex-wrap: wrap;
}

.table-thead,
.table-row {
    display: flex;
    padding: 0.5rem;
}

.flex--1col > * {flex: 1 0 100%}
.flex--2col > * {flex: 1 0 50%}
.flex--4col > * {flex: 1 0 25%}

/* FLEXBOX TABLE - Colours */
.table-thead {
    background: #97a1a7;
    color: #374047;
    font-weight: 600;
}

.table-row:nth-child(odd) {background: #f5f5f5}
.table-row:nth-child(even) {background: white}

/* NUTRITION TABLE */
.nutrition > .table-thead {
    text-align: center;
}

.nutrition .col2 {
    text-align: right;
}

/* PRICES TABLE */
.price-composite {
    display: flex;
}

/* WHITESPACE & SPACING */
body {
    padding: 0;
    margin: 0;
}

.container {
    min-width: 250px;
    max-width: 800px;
    padding: 2rem;
    margin: auto;
}

.nutrition .col1 {padding-left: 10%}
.nutrition .col2 {padding-right: 10%}

/* SMALL */
@media all and (max-width: 425px) {
    /* GRID LAYOUT */
    .container {
        grid-template-columns: auto 1fr;
        grid-column-gap: 0.5rem;
        grid-template-areas:
            'i t'
            'n n'
            'p p';
    }

    /* IMAGE */
    .image-wrapper {
        height: 50px;
        width: 50px;
        border-radius: 0.2rem;
    }

    /* FLEXBOX TABLE */
    .table {
        border-radius: 1rem;
        overflow: hidden;
    }

    /* WHITESPACE & SPACING */
    .nutrition .col1 {padding-left: 15%}
    .nutrition .col2 {padding-right: 15%}
}