{% extends "products/html_base.html" %}
{% load static %}


{% block header %}
    <link rel="stylesheet" href="{% static "products/css/product_search.css" %}">
{% endblock header %}
    
{% block content %}
    <form action="">
        {% csrf_token %}
        {{ form.search }}
        {{ form.brand }}
        {{ form.store }}
    </form>
    
    {% if products %}
        <ul class="results-wrapper">
            {% for product in products %}            
                <li>
                    <a href=/product/{{ product.pid }} class="result">
                        <img src="https://dummyimage.com/200x200/c2c2c2/757575&text=No+image" alt="{{ product.description|title }}">
                        <span>{{ product.description|title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div>No products found!</div>
    {% endif %}   
{% endblock content %}