{% extends "products/html_base.html" %}
{% load static %}
{% load products_filters %}

{% block header %}
    <link rel="stylesheet" href="{% static "products/css/product_search.css" %}">
    <link rel="stylesheet" href="{% static "products/css/navbar.css"%}">
{% endblock header %}
    
{% block content %}
    <div class="navbar-wrapper">
        <div class="navbar">
            <div class="navbar-left" id="navbar-dropdown">
                <div class="dropdown-btn" id="navbar-left-dropdown-btn">≡</div>
                <a href="/">Home</a>
                <a href="">Protein Calculator</a>
            </div>
        </div>
    </div>
    
    <form action="">
        <div class="csrf">{% csrf_token %}</div>
        <div class="form-search">
            {{ form.search }}
            <button class="search-submit-btn">
                <svg viewBox="0 0 50 50">
                    <g fill="none" stroke="white" stroke-width="5" stroke-linecap="round">
                        <circle cx="20" cy="22" r="15"/>
                        <path d="M33 35L45 47"/>
                    </g>    
                </svg>
            </button>
            
            </div>
        <div class="form-filter">
            <div>Filter by:</div>
            {{ form.brand }}
            {{ form.store }}
            <div class="reset-btn">↺ Reset</div>
        </div>
        <div class="form-query">Showing Results for "{{ form.search.initial }}"</div>
    </form>
    
    {% if products %}
        <ul class="results-wrapper">
            {% for product in products %}            
                <li>
                    <a href=/product/{{ product.pid }} class="result">
                        <img src="https://dummyimage.com/200x200/c2c2c2/757575&text=No+image" alt="{{ product.description|title }}">
                        <span>{{ product.description|title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div>No products found!</div>
    {% endif %}   

    {% if is_paginated %}
        <div class="pagination-wrapper">
            <div class="page-btn btn-prev">
                {% if page_obj.has_previous %}
                    <a href="{{ querystring|format_querystring }}&page={{ page_obj.previous_page_number }}"><</a>
                {% else %}
                    <a class="disabled"><</a>
                {% endif %}
            </div>

            <div class="page-text">Page {{ page_obj.number }} of {{ paginator.num_pages }}</div>

            <div class="page-btn btn-next">
                {% if page_obj.has_next %}
                    <a href="{{ querystring|format_querystring }}&page={{ page_obj.next_page_number }}">></a>
                {% else %}
                    <a class="disabled">></a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock content %}