{% extends "products/product_base.html" %}


{% block img %}
    {{ block.super }}
    <img src="https://placedog.net/200/200" alt="{{ product.description|title }}" class="image">
{% endblock img %}


{% block description %}
    {{ block.super }}
     <div class="title">{{ product.description|title }}</div>
{% endblock description %}


{% block nutrition %}
    {{ block.super }}
    <div>{{ product.header }}</div>

    <div>Energy</div>
    <div>{{ product.kcal|floatformat:0 }}kcal</div>

    <div>Protein</div>
    <div>{{ product.protein|floatformat:1 }}g</div>

    <div>Carb</div>
    <div>{{ product.carb|floatformat:1 }}g</div>

    <div>Fat</div>
    <div>{{ product.fat|floatformat:1 }}g</div>
{% endblock nutrition %}


{% block prices %}
    {{ block.super }}

{% endblock prices %}