{% extends "products/product_base.html" %}

{% load products_filters %}

{% block img %}
    {{ block.super }}
    <img src="https://placedog.net/200/200" alt="{{ product.description|title }}" class="image">
{% endblock img %}


{% block description %}
    {{ block.super }}
     <div class="title">{{ product.description|title }}</div>
{% endblock description %}


{% block nutrition %}
    {{ block.super }}
    <div class="nutrition table flex--1col">
        <div class="table-thead flex--1col">
            <div>{{ product.header }}</div>
        </div>

        <div class="table-row flex--2col">
            <div class="col1">Energy</div>
            <div class="col2">{{ product.kcal|floatformat:0 }}kcal</div>
        </div>

        <div class="table-row flex--2col">
            <div class="col1">Protein</div>
            <div class="col2">{{ product.protein|floatformat:1 }}g</div>
        </div>

        <div class="table-row flex--2col">
            <div class="col1">Carb</div>
            <div class="col2">{{ product.carb|floatformat:1 }}g</div>
        </div>

        <div class="table-row flex--2col">
            <div class="col1">Fat</div>
            <div class="col2">{{ product.fat|floatformat:1 }}g</div>
        </div>
    </div>
{% endblock nutrition %}


{% block prices %}
    {{ block.super }}
    {% if product.price_table %}
        <div class="prices table flex--1col">
            <div class="table-thead flex--4col">
                <div>Store</div>
                <div>Price</div>
                <div>£/{{ product.unit_of_measurement|formatuom }}</div>
                <div>£/10g protein</div>
            </div>
            
            {% for store, prices in product.price_table.items %}
            <div class="table-row flex--4col">
                <div class="col1 store">{{ store|title }}</div>
                
                {% for price_composite in prices %}
                    <div class="{{ price_composite.class }} price-composite">
                        {% if price_composite.sale %}
                            <div class="price-base strikeout">{{ price_composite.base|formatprice }}</div>
                            <div class="price-sale">{{ price_composite.sale|formatprice }}</div>
                        {% else %}
                            <div class="price-base">{{ price_composite.base|formatprice }}</div>
                        {% endif %}
                        
                        {% if price_composite.offer %}                            
                            <div class="price-offer">{{ price_composite.offer|formatprice }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    {% else%}
        <div>Price data unavailable</div>
    {% endif %}
{% endblock prices %}


<!--This is in the html file because Django's templating is required for pseudo element content-->
{% block header %}
    {{ block.super }}
    <style>
        @media all and (max-width: 425px) {
            .prices .col3::before {content: "£/{{ product.unit_of_measurement|formatuom }}"}
        }
    </style>
{% endblock header %}