{% extends "products/html_base.html" %}

{% load products_filters %}

{% block content %}
    <div>
        <form action="{% url 'protein_calculator' %}" method="post">
            {% csrf_token %}
            <div>Price: {{ form.price_value }}</div>
            <div>Total quantity: {{ form.qty_value }}{{ form.qty_unit }}</div>
            <div>Protein: {{ form.protein_value }}g per {{ form.protein_per_value }}{{ form.protein_per_unit }}</div>
            <button>Submit</button>
        </form>
    </div>

    {% if results %}
    <div>        
        <div id="unit_price">Unit Price: £{{ results.unit_price|floatformat:2 }}/{{ results.unit|formatuom }}</div>
        <div id="protein_price">Price Per 10g Protein: £{{ results.protein_price|floatformat:2 }}</div>
    </div>
    {% endif %}
{% endblock content %}